// Common colors
$primary-text-color: #2C2C2C;
$footer-text-color: #7EB101;

$primary-bg-color: #FFFFFF;
$second-bg-color: #FFE550;

// Colors for form
$placeholder-text-color: #505050;
$default-border-color: #FFE550;
$right-border-color: #7EB101;
$wrong-border-color: #FF705D;

// Colors for buttons
$btn-bg-color: #BBF330;
$btn-border-color: #7EB101;
$btn-accent-bg-color: #FFE450;


// time
$time-duration: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
